@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Support:</strong>   <a href="mailto:mesut.talebi@yahoo.com">mesut.talebi@yahoo.com</a><br />    
</address>