@using System.Threading
@{
    ViewBag.Title = "Home Page";
}

@section Styles {        
    <link href="~/Content/gridview/megridview.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h1>MeSoft Gridview V0.3.3</h1>
    <p class="lead">No Magic! Simple To Use, Simple to Develop</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<!-- GRIDVIEW Area-->
<div class="row">
    @Html.GridView(@Url.Action("GetCustomers", "Home"), "gridview1", ()=> Html.Action("GetGridViewFilter", "Home"))
    @*@Html.Partial("_GridViewPartial")*@    
</div>

@section Scripts {
    <script src="~/Scripts/gridview/megridview.js"></script>
    @{
        string culture = Thread.CurrentThread.CurrentCulture.Name;
    }
    <script src=@(Url.Content(string.Format("~/Scripts/gridview/locales/megridview.{0}.js", culture.Substring(0, culture.IndexOf("-") == 0 ? culture.Length : culture.IndexOf("-")))))></script>
    <script>        
        $('.gridview1').meGridView();        
        //$('.gridview2').meGridView();
    </script>
    
}